.componenet-container{
  display: flex;
  flex-direction: row;

  width: 190vh;
}

.scroll-bar-container{
  position: relative;
  width: 29vh;
  height: 70vh;
  margin-right: 7vh;
}

.Group_Class {
  position: relative;
  margin-top: 1vh;
  margin-bottom: 1.5vh;
  width: 35vh;
  height: 4vh;
  //overflow: visible;
}

.Scroll_Group {
 margin-top:2vh;
 overflow: hidden;
  
}
#background{
  background-color: #221e1e;
  height: 52vh;
  width: 27vh;
  padding-top: .5vh;
  border-radius: 0.8vh;
  margin-left:1vh;
}
.Repeat_Grid::-webkit-scrollbar {
  display: none;
}

.Repeat_Grid {
  scrollbar-width: none;
  -ms-overflow-style: none; 
  //mix-blend-mode: normal;
  position: relative;
  margin-top: 1vh;
  //padding-top:  2vh;
  width: 25vh;
  padding-left: 1vh;
  height: 48vh;
  overflow-y: scroll;
  
  
  // border: 1vh solid;
}

.Component_11__1_Class {
  position: relative;
  width: 25vh;
  height: 6vh;
  left: 1vh;
  //overflow: visible;
}
#title{
  font-size:2vh;
  margin-left: 1vh; 
  font-weight: bold;
  text-align: left;
  font-family: Roboto;
  color: #FFFFFF;
  opacity: 1;
}

.School_Rectangle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdfd;
  color: #fff;
  padding: .5vh;
  border-radius: 0.3vh;
  width: 23vh;
  .Ranking_Box {
    width: 4vh;
    height: 3.5vh;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    //align-items: center;
    font-size: 2.5vh;
    color: #067FFF;
  }
  
  .School_Name_Flexbox {
    width: 20vh;
    height: 3vh;
    padding-top: .3vh;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vh;
    color: #000;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
  } 
}
.user-owned {
  display: flex;
  align-items: center;
  background-color: #D5EAFF;
  // color: #fff;
  //border: 2px solid #fff;
  padding: .5vh;
}

