$color-primary: #f2f2f2;
$color-secondary:#707070;
$font-primary: normal normal bold 1.5vh Roboto;
$color-tertiary:#D5EAFF;
$color-black: #000000;

.personal-school-container{
    display: flex;
    background-color: $color-primary;
    flex-direction: column;
    padding: 1vh;
    margin-top: 4.3vh;
    margin-left: 5.2vh;
    border-radius: 0.8vh;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
    width: 76vh; 
    height: 53vh;

}
#checkbox{
    padding-right: 2vh;
    margin-left: -2vh; 
    font: normal normal normal 1.3vh Roboto;
}
.checkbox-and-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
.button-no-border{
    border: none;
    margin-bottom: 1vh;
    margin-right:3vh;
}

.button-styling{
    display: flex;
    flex-direction: row;
    font-size: 1.5vh;
    margin-top: 1vh;
    .save-changes{
       
        border: none;

        box-shadow: 0 0.7em 1.5em -0.5em #2dbafc98;
        padding: 0.7em 1.4em 0.7em 1vh;
        border-radius: 20em;
       // box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
        background-color: #a6bbf7;
        color: white;
    }
    .delete-school{
        padding: 0.7em 1.4em 0.7em 1.1em;
        border: none;
        border-radius: 20em;
        margin-left: 3vh;
        margin-right: var(--button-bar-spacing);
        box-shadow: 0 0.7em 1.5em -0.5em #f5818198;
        background-color: red;
        color: rgb(255, 255, 255);
    }
}
.icon{
    height: 2vh;
    width: 2vh;
    border:none;
}


.alignment-div{
    margin-left: 3vh;
    margin-top: 2.5vh;
}
.school-title-bar{
    display: flex;
    justify-content: space-between;
    position: relative;
    .title-name{
        text-align: left;
        font: normal normal bold 4vh Roboto;
        letter-spacing: 0px;
        color: $color-black;
        opacity: 1;
    } 
    .title-input-box{
        text-align: left;
        font: normal normal bold 4vh Roboto;
        letter-spacing: 0px;
        color: $color-black;
        opacity: 1;
        width: 70vh;
    } 
}
.secondary-info{
    display: flex;
    flex-direction: row;
    text-align: left;
    font: $font-primary;
    letter-spacing: 1px;
    color: $color-secondary;
    opacity: 1;
    .info-item{
        justify-content: space-between;
        margin-right: 10px;
    }
}
.unenrolled {
    color: gray;
    background-color: lightgray;
 }


.data-box{
    flex: 2;
}
.student-component {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  
    .dropdowns {
      display: flex;
      justify-content: space-between;
      width: 66vh; /* Adjust the width as needed */
      margin-bottom: 20px;
      
        label{
            margin-right: 7px;
            font: normal normal bold 1vh Roboto;
        }
        .grade{
            text-align: left;
            left: 0%;
            #grade-select{
                border: 1px solid $color-secondary;
                border-radius: 5px;
                opacity: 1;
                font: normal normal bold 1vh Roboto;
            }
        }
        .sort-by{
            text-align: left;
            right: 8%;
            
            #sort-select{
                border: 1px solid $color-secondary;
                border-radius: 5px;
                opacity: 1;
                font: normal normal bold 1vh Roboto;
                
            }
      }
    }
  
    .title-bar {
      display: flex;
      background-color: $color-tertiary;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      font-weight: bold;
      width: 66vh;
      margin-bottom: 10px;
    }
  
    .title {
      flex: 1;
      text-align: center;
      font-size: 1.3vh;
    }
  
    .student-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 66vh;
      height: var(--student-list-max-height);
      max-height: 28vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
  
    .student-record {
        display: flex;
        flex-direction: column; 
        //align-items: stretch;
        background-color: #ffffff;
        width: 66vh;
        font: normal normal bold 1.3vh Roboto;
        padding: 10px;
        margin-bottom: 7px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #407ff3;
        }
        .student-record-content {
            display: flex;
            flex-direction: row;
            
            .record-title {
            flex: 1;
            margin-left: 2.25%;
            text-align: left;
            }
    
            .record-info-gpa {
            flex: 1;
            margin-left: 9.5%;
            text-align: left;
            }
            .record-info-year {
                flex: 1;
                margin-left: 0%;
            }
            .record-info-icon {
                flex: 1;
                .icon-trash {
                    width: 2vh;
                    height: 2vh;
                    margin-left: 65px;
                }
            }
            .record-toggle-arrow{
                flex: 0;
                margin-right: 5px;
                .icon-arrow {
                    width: 2vh;
                    height: 2vh;
                    //margin-left: 15px;
                    transition: transform 0.3s ease;
                    transform: rotate(30deg);
                }
                .rotate {
                    transform: rotate(120deg); /* Set initial rotation state */
                }
            }
        }
        .expanded-info {
            display: none; // Hide by default
            flex-direction: column;
        }
       
        &.expanded {
            .expanded-info {
                display: flex;
                position: relative;
                width: 100%; 
                background-color: #ffffff; 
                padding-bottom: 10px; 
                padding-left: 10px;
                transition: max-height 0.6s ease, padding 0.3s ease;
                .expanded-basic-info-bar{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    font: normal normal bold 1vh Roboto;
                    letter-spacing: 1px;
                    color: #7B7B7B;
                    opacity: 1;
                    padding-top: 10px;
                    padding-left:10px;
                    padding: 10px;
            
                    .bar-item-gradyear{
                        flex: 1;
                    }
                    .bar-item-age{
                        flex: 1;
                    }
                    .bar-item-dob{
                        flex: 1;
                    }
                }
                .expanded-reportcard{
                    display: flex;
                    //padding-top: 10px;
                    padding-bottom: 5px;
                    .report-card-title{
                        padding-left: 10px;
                        font: normal normal bold 1.2vh Roboto;
                    }
                    .report-card{
                        // top: 60vh;
                        // left: 73vh;
                        
                        margin-left: 25px;
                        //width: 188px;
                        //height: 114px;
                        /* UI Properties */
                        background: $color-tertiary 0% 0% no-repeat padding-box;
                        
                        opacity: 1;
                        width: 25%;
                        border-collapse: collapse;
                    
                        th{
                            font: normal normal bold 1.3vh Roboto;
                            padding: 10px;
                            text-align: left;
                            border-bottom: 1px solid #ddd;
                        }
                        td{
                            font: normal normal bold 1.1vh Roboto;
                            padding: 10px;
                            
                            border-bottom: 1px solid #ddd;
                            
                        }
                        .grade{
                            text-align: left;
                            padding-left: 10px;
                        }
                    
                    }
                    
                }
            }
        }
    }
  }
