.container {
    margin-top: 50px;
    color: #FFF;
    min-height: 83vh;  // Adjust as needed
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #FF4500;
    border-color: #FF4500;
  }
  
  .btn-primary:hover {
    background-color: #8B2500;
    border-color: #8B2500;
  }