.component-container{
    display:flex;
    flex-direction: row;
    
    .selected_school{
        display: flex;
        flex: 2;
       // margin-top: 60px;
    }
}
.Scroll_Group {
    position: relative;
    width: 388px;
    //height: 700px;
    @media (max-width:800px) {
      width: 30vh;
    }
    overflow: hidden;
}
.Repeat_Grid {
    //mix-blend-mode: normal;
    //box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top:  1vh;
    width: 25vh;
    height: 48vh;
    overflow-y: scroll;
    padding-left: 1vh;
    border-radius: 0.8vh;
    .disabled {
      pointer-events: none;
  }
}
.Repeat_Grid::-webkit-scrollbar {
  display: none;
}
.disabled-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;  
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); // semi-transparent overlay
}


.Group_Class {
  position: relative;
  margin-top: 1vh;
  margin-bottom: 1.5vh;
  width: 35vh;
  height: 4vh;
    //overflow: visible;
}

.Component_11__1_Class {
  position: relative;
  width: 25vh;
  height: 6vh;
  left: 1vh;
    //background-color: #000;
}
#title{
  font-size:2vh;
  margin-left: 1vh; 
  font-weight: bold;
  text-align: left;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
  
.School_Rectangle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffdfd;
    color: #fff;
    padding: .5vh;
    border-radius: 0.3vh;
    width: 23vh;
  }
  
  .Ranking_Box {
    width: 4vh;
    height: 3.5vh;
    //padding-bottom: 1vh;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vh;
    color: #067FFF;
  }
  #background{
    margin-top: 2vh;
    background-color: #221e1e;
    height: 50vh;
    width: 27vh;
    padding-top: .5vh;
    padding-bottom: .5vh;
    border-radius: 0.8vh;
    margin-left:1vh;
  }
  
  .School_Name_Flexbox {
    width: 20vh;
    height: 3vh;
    padding-top: .3vh;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media(max-width:800px){
      font-size: .7em;
    } 
  }
  .add-school-button-container {
    position: sticky; 
    bottom: 0;
    display: flex;
    justify-content: left;
    //margin-left: 3vh;
    padding-left:1.2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vh;
    //background-color: #221e1e;
  }
  .add-school-button {
    font-family: Roboto;
    font-weight: bold;
    font-size: 2vh;
    text-align: left;
    width: 25vh;
    height: 3.5vh;
    color: #000;
    background-color: #D5EAFF;
    border: none;
    @media(max-width:800px){
      font-size: .7em;
    } 
    //padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    .icon {
        width: 3vh; 
        height: 3vh;  
        margin-right: 5px;  
        transition: transform 0.3s ease;  
        @media(max-width:800px){
          width: 25px; 
          height: 25px; 
        } 
      }
      &:hover { 
        background-color: #dbdbdb;
        .icon {
          transform: rotate(30deg);  // Rotates the icon 30 degrees on hover
        }
      }
    
      &:active {
        .icon {
          transform: rotate(90deg);  // Rotates the icon 90 degrees on click
        }
      }
  }