<ng-container *ngIf="school">
    <mat-card class="school-card">
      <mat-card-title>{{ school.SchoolName }}</mat-card-title>
      <mat-card-content>
        <!-- <div>Professor List: {{ school.ProfessorList || 'N/A' }}</div>
        <div>Class List: {{ school.ClassList || 'N/A' }}</div>
        <div>Student List: {{ school.StudentList || 'N/A' }}</div> -->
      </mat-card-content>
    </mat-card>
  </ng-container>



<!--   
  <div class="schools">
    <div class="schools-container">
      <div *ngFor="let school of schools" class="school-card" (click)="selectSchool(school)">
        
        <app-school [school]="school"></app-school>
        <!--<p>Avg GPA: {{school.avgGPA || 'N/A'}}</p>
        <p>Ranking: {{school.ranking || 'N/A'}}</p> 
      </div>
    </div>
    <div class="selected-school">
      <app-school [school]="selectedSchool"></app-school>
    </div>
  </div> -->