.school-container {
  background-color: #f2f2f2;
  color: #333;
  padding: 1vh;
  margin-top: 4.3vh;
  margin-left: 5.2vh;
  border-radius: 0.8vh;
  box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
  width: var(--school-container-width); 
  height: var(--school-container-height);
  .data-container {
    justify-content: space-between;
    margin: .5vh 2vh;
  }
}
.bar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 4vh;

  .button-1 {
    left: 4vh;
    width: 9vh;
    position: absolute;
    top: 50%; 
    left: 10%; 
    transform: translate(-50%, -50%); 
  }
  .previous-placeholder {
    flex-grow: 1;
  }
  
  .button-2 {
    flex-grow: 1;
    width: 9vh;
    position: absolute;
    top: 50%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  
  .button-3 {
    flex-grow: 1;
    width: 9vh;
    position: absolute;
    top: 50%; 
    left: 72%;
    transform: translate(-50%, -50%);
  }
  
  .button-4 {
    flex-grow: 1;
    width: 9vh;
    position: absolute;
    top: 50%; 
    left: 87%; 
    transform: translate(-50%, -50%); 
  }
  .button-1,
  .button-2,
  .button-3,
  .button-4 {
    height: 100%;
    font-size: var(--font-size-highscore-button);
    font-weight: bold;

    border: none;

    box-shadow: 0 0.7em 1.5em -0.5em #2dbafc98;
    padding: 0.7em 1.4em 0.7em 1.1em;
    
    border-radius: 20em;
    // box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
    background-color: #a6bbf7;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    @media(max-width:800px){
      padding: 0.5em 1em 0.4em .7em;
    }
  }
  
  .button-1.disabled,
  .button-2.disabled,
  .button-3.disabled,
  .button-4.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  
  .button-1:hover:not(.disabled),
  .button-2:hover:not(.disabled),
  .button-3:hover:not(.disabled),
  .button-4:hover:not(.disabled) {
    background-color: #23527c;
  }
  
  .button-2:hover,
  .button-3:hover,
  .button-4:hover {
    background-color: #23527c;
  }
}


.icon {
  width: 4vh;
  height: 4vh;
}
#school-name {
  font-size: var(--font-size-school-name);
  font-weight: 600;
  margin-top: 1vh;
  margin-left: 2vh;
  margin-bottom: 1vh;
}

.stats-title {
  font-size: var(--font-size-stats-title);
  font-weight: bold;
  text-align: left;
  padding-top: 1vh;
  padding-left: 1vh;
 
}

.stats-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 30px;
  box-shadow: .5em 0.7em 1.5em -0.5em #2dbafcec;
}
.stats-title, .item-label {
  white-space: nowrap; // Prevent text from wrapping
  //overflow: hidden; // Hide overflowed content
  text-overflow: ellipsis; // Add ellipsis for overflowed content
  font-weight: bold;
}
.stats-item {
  display: flex;
  position: relative;
  flex-direction: row;
  //border: 1px solid #000000;
  padding: .5em;
  background: #D5EAFF;
  height: 5vh;
  flex-grow: 1;
  min-width: 0;
  
  .students-item-label,
  .gpa-item-label,
  .ranking-item-label {
    position: absolute;
    top: .5vh;
    margin-right: 1vh;
    padding-left: 1vh;
    text-align: right;
    font-size: var(--font-size-stats-value);
    font-family: Roboto;
    font-weight: bold;
    color: #000000;
  }
  @media(max-height:799px){
    .students-item-label{
      left: 16vh;
    }
    .gpa-item-label{
      left: 12vh;
    }
    .ranking-item-label{
      left: 14vh;
    }
  }
  @media(min-height:800px){
    .students-item-label{
      left: 18vh;
    }
    .gpa-item-label{
      left: 14vh;
    }
    .ranking-item-label{
      left: 16vh;
    }
  }
}

.top-prof-grades-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.ranking-box {
  width: var(--ranking-box-width);
  height: var(--ranking-box-height);
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-ranking-box);
  color: #000000;
}

.top-professors-container {
  margin-bottom: 1.5vh;

  .title-bar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: var(--title-bar-height);
    
    .top-prof-title{
      font-size: var(--font-size-highscore-title-bar);
      display:inline-block;
      font-weight: bold;
      text-align: left;
      font-family: Roboto;
      position: absolute;
      left: 2%; 
    }
    .top-grade-title{
      font-size: var(--font-size-highscore-title-bar);
      display:inline-block;
      font-weight: bold;
      text-align: left;
      font-family: Roboto;
      position: absolute;
      right: 7%;
    }
  }
  .top-row-container{
    display: flex;
    .professor-column {
      flex: 50%;
      vertical-align: top;
      margin-left: 20px;
      margin-right: 20px;
      .professor-column-2 {
        margin-top: 42px; // Add margin right to the first column to create space between the columns
      }
    }
    .grade-column {
      flex: 50%;
      vertical-align: top;
    }
  } 
  .top-professors-container{
    margin-bottom: 10px;
  }
}
.top-grades-container {
  flex: 40%;
  margin-left: 2.5vh;
  .grade-box{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .grade-info {
    display: flex;
    flex-direction: column;
    //margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
    .grade-title{
      font-size: var(--font-size-highscore-items);
      font-weight: bold;
      font-family: Roboto;
      flex-wrap: nowrap;
  
    }
    .grade-gpa{
      font-size: var(--font-size-highscore-sub-items);
      align-items: center;
      color: #7B7B7B;
      display: block;
    }
  }
  .grade-ranking {
    text-align: center;
    margin-right: 10px;
    width: 40px;
  }
}

.professor-item {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
  width: var(--professor-item-width);
}

.professor-ranking {
  padding-right: 1vh;
  width: 3.5vh;
  text-align: center;
}

.professor-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
  padding-left: 1vh;
  .prof-name{
    text-overflow: ellipsis;
    white-space: nowrap; 
    font-size: var(--font-size-highscore-items);
    font-weight: bold;
  }
  .student-gpa{
    font-size:var(--font-size-highscore-sub-items);
    color: #7B7B7B;
  }
  
}
