<!-- <ng-container *ngIf="school">
  <div class="school-card">
    <div class="school-info">
      <h3>{{ school.ranking || '-' }} {{ school.school_name }}</h3>
    </div>
    <div class="school-content">
       Add your content here 
    </div> 
  </div>
</ng-container> -->
<!-- <div class="Scroll_Group_1_Class">
  <div class="Repeat_Grid_1_Class">
    <div *ngFor="let school of schools" class="Group_Class">
      <div class="Component_11___1 Component_11__1_Class">
        <svg class="Rectangle_28">
          <rect class="Rectangle_28_Class" rx="0" ry="0" x="0" y="0" width="383" height="61"></rect>
        </svg>
        <div class="n__Class">
          <span>{{ school.rank }}</span>
        </div>
        <div class="Busta_Rhymes_Academy_Class">
          <span>{{ school.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <ng-container *ngIf="school">
    <mat-card class="school-card">
      <mat-card-title>Rank: {{ school.ranking || '-' }} School: {{ school.school_name }}</mat-card-title>
      <mat-card-content>
        
      </mat-card-content>
    </mat-card>
  </ng-container> -->