<div class="student-container">
    <div class="student-card">
      <h2>{{ student.Name }}</h2>
      
      <app-report-card [studentName] = "student.Name" [studentID]= "student.StudentID"></app-report-card>
      <p>Current Grade: {{ student.CurrentYear }}</p>
      <p>Graduation Year: {{ student.GraduationYear }}</p>
      <p>GPA: {{ student.AvgGPA }}</p>
      <p>Age: {{ student.Age }}</p>
      <p>Date of Birth: {{ student.Dob | date }}</p>
      <p *ngIf="student.Enrolled">Enrolled</p>
      <p *ngIf="!student.Enrolled">Not Enrolled</p>   
       
    </div>
  </div>