<div class="student-container">
    <div class="student-card">
      <h2>{{ student.name }}</h2>
      
      <app-report-card [studentName] = "student.name" [studentID]= "student.student_id"></app-report-card>
      <p>Current Grade: {{ student.current_year }}</p>
      <p>Graduation Year: {{ student.graduation_year }}</p>
      <p>GPA: {{ student.avg_gpa }}</p>
      <p>Age: {{ student.age }}</p>
      <p>Date of Birth: {{ student.dob | date }}</p>
      <p *ngIf="student.enrolled">Enrolled</p>
      <p *ngIf="!student.enrolled">Not Enrolled</p>   
       
    </div>
  </div>