<div id="background">
    <div id="container">
        <!-- <button class="toggle-button" (click)="toggleSelection()">Menu</button> -->
        <div class="selection-column">
            <div class="column-option" (click)="displayInfo('about-project')">About The Project</div>
            <div class="column-option" (click)="displayInfo('about-me')">About Me</div>
            <!-- <div class="column-option" (click)="displayInfo('past-me')">Past Work Experience</div> -->
        </div>
        <div id="information-container">
            <div id="information-display" #scrollableDiv>
                <div *ngIf="currentDisplay === 'about-project'" id="about-project">
                    <span class="sub-title">About the Project</span>
                    <div class="paragraph">
                        <div class="body-text">{{ aboutProjectTextpt1 }}</div>
                    </div> 
                    <span class="sub-title-small">Technical Architecture</span> 
                    <div class="paragraph">
                        <div class="body-text">{{ aboutProjectTextpt2 }}</div>
                    </div>
                    <span class="sub-title-small">Privacy</span> 
                    <div class="paragraph">
                        <div class="body-text">{{ privacyText }}</div>
                    </div>    
                </div>
                <div *ngIf="currentDisplay === 'about-me'" id="about-me">
                    <span class="sub-title">About Me</span>
                    <div class="paragraph">
                        <div class="body-text">{{ aboutMeIntro}}</div>
                    </div> 
                    <span class="sub-title-small">Plants</span>
                    <div class="paragraph">
                        <div class="body-text">{{ aboutMePlants}}</div>
                    </div> 
                    <span class="sub-title-small">Cooking </span>
                    <div class="paragraph">
                        <div class="body-text">{{ aboutMeCooking}}</div>
                    </div> 
                    <span class="sub-title-small">Home</span>
                    <div class="paragraph">
                        <div class="body-text">{{ aboutMeHome}}</div>
                    </div> 
                </div>
                <!-- <div *ngIf="currentDisplay === 'past-me'" id="past-me">Your past work experiences go here.</div> -->

                <div class="scroll-indicator" *ngIf="isScrollable">
                    <img src="assets/icons/arrow-down.png" alt="Scroll Indicator"/>
                </div>
            </div>
        </div>
    </div>
</div>