.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: #FFD700;
  text-decoration: none;
}