.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
  color: #ffffff;
}
.navbar {
  height: 80px; 
  padding: 0 20px;  
  display: flex;
  justify-content: space-between;
  background-color: #000000; 
}
#or-text{
  font-weight: bold;
  color: #ffffff
}
.navbar-nav {
  display: flex;
  align-items: center;
  
  .nav-item {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    .nav-link{
      color: #ffffff;
    }
    .right{
      margin-right: 10vh;
    }
    .btn-outline-primary {
      // Additional styles for login button here
      color: #ffffff;
      border-color: rgba(231, 231, 231, 0.219);
      font-weight: bold;
      font-family: Roboto;
      letter-spacing: 0px;
      

      &:hover{
        background-color: #000000;
        color: #6f00ff;
      }
    }
    
    .btn-primary {
      // Additional styles for create account button here
      color: #ffffff;
      &:hover{
        
      }
    }
  }
  .dropdown {
    margin-right: 1rem; 
  }
  .dropdown-item{
    color: #ffffff;
  }
}
.dropdown-toggle::after {
  display: none;
}


.welcome-message {
  margin-right: 1rem;  // Add some margin to separate the welcome message from the avatar
}

.avatar-icon {
  width: 30px;  // Set a width for the avatar
  height: 30px;  // Set a height for the avatar
}

// .logo-container {
//   display: flex;
//   align-items: center;
// }

// .logo {
//   font-size: 2rem;
//   font-weight: bold;
//   margin-right: 1rem;
// }

// .nav-links {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
// }

// .nav-link {
//   margin-left: 1rem;
//   font-size: 1.2rem;
//   font-weight: bold;
//   text-transform: uppercase;
//   color: #fff;
//   transition: all 0.2s ease-in-out;
//   .nav-link-login{
    
//   }
// }
