<nav class="navbar navbar-expand-lg" id="navbarId" #navbarNav>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"  (click)="toggleNavbar()" [attr.aria-expanded]="!isNavbarCollapsed" aria-controls="navbarNav">
    <!-- aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
    </button>
    <div id="navbar-contents">
      <div [class.collapse]="isNavbarCollapsed" [class.show]="!isNavbarCollapsed" class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item-left">
            <a class="nav-link" routerLink="/" (click)="closeNavbar()">Home</a>
          </li>
          <!-- <li class="nav-item-left">
            <a class="nav-link" routerLink="/project" (click)="closeNavbar()">Project</a>
          </li> -->
          <li class="nav-item-left">
            <a class="nav-link" routerLink="/contact" (click)="closeNavbar()">Contact</a>
          </li>
          <li class="nav-item-left">
            <a class="nav-link" routerLink="/about" (click)="closeNavbar()">About</a>
          </li>
          <li class="nav-item-left">
            <a class="nav-link" routerLink="/resume" (click)="closeNavbar()">Resume</a>
          </li>
        </ul>
      </div>
      <!-- <ul class="navbar-nav ml-auto">
        <li class="nav-item-right" *ngIf="!username">
          <button class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
        </li>
        <span class="me-2 ms-2" id="or-text" *ngIf="!username">OR</span>
        <li class="nav-item-right" *ngIf="!username">
          <button class="btn btn-outline-primary me-5" routerLink="/create-account">Create Account</button>
        </li>
        <li class="nav-item-right" *ngIf="username">
          <span id="welcome-banner">Welcome, {{username}}</span>
        </li>

        <!- acc button 
        <li class="dropdown" *ngIf="username">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="icon-container">
              <img class="avatar-icon" src="assets/icons/usericon.png">
            </div>
          </button>
          <!- the dropdown  
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
           <li><a class="dropdown-item" href="/account-settings">Account Settings</a></li>
           <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul> -->
    </div>
  </nav>
