footer {
  background-color: #07070a;
  color: #fff;
  padding: 20px 0;
  font-size: 1.3vh;

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 10%;

    

    .footer-section {
      flex: 1;
      display: block;
      margin-bottom: 10px;
      margin: 0 10px;

      .footer-title {
        font-size: 2vh;
        font-weight: bold;
        padding-bottom: 1vh;
      }

      .footer-text {
        max-width: 80%; // Adjust as needed
        margin: 0 auto;
      }
      .footer-title, .footer-text {
        display: block;
        margin: 0;
        padding: 0;
      }
    }
  }
  @media (max-width: 800px) {
    .footer-container {
      //flex-direction: column;
      text-align: center;
      max-height: 100px;
      max-width:800px;
      overflow-y: auto; // Makes it scrollable when content exceeds max height
      // margin-left: auto;
      // margin-right: auto;
      .footer-section {
        margin-bottom: 10px;
        text-align: center;
        .footer-title {
          font-size: 1.2em;
         // padding-bottom: 1vh;
        }
    
        .footer-text {
          max-width: 80%; // Adjust as needed
          margin: 0 auto;
          font-size: .7em;
        }
      } 
    } 
  }
}
