<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <span class="footer-title">About Me</span>
          <span class="footer-text">I need a job hmu.</span>
        </div>
        <div class="col-sm-4">
          <span class="footer-title">Contact Me</span>
          <span class="footer-text">Email: astroo22@gmail.com</span>
        </div>
        <div class="col-sm-4">
          <span class="footer-title">Follow Me</span>
          <span class="footer-text"><a href="https://www.linkedin.com/in/jonathan-starkey-0ba9ba171/" target="_blank">LinkedIn</a></span>
        </div>
      </div>
    </div>
  </footer>