<footer>
  <div class="footer-container">
    <div class="footer-section about">
      <span class="footer-title">About Me</span>
      <p class="footer-text">Dynamic Backend Engineer with a passion for building scalable systems.</p>
    </div>
    <div class="footer-section">
      <span class="footer-title">Contact Me</span>
      <p class="footer-text">Email: astroo22@gmail.com</p>
    </div>
    <div class="footer-section">
      <span class="footer-title">Follow Me</span>
      <p class="footer-text"><a href="https://www.linkedin.com/in/jonathan-starkey-0ba9ba171/" target="_blank">LinkedIn</a></p>
    </div>
  </div>
</footer>