<!-- home.component.html -->
<meta charset="UTF-8">
<div id="background">
  <div id="container">
      <div id="intro-container">
        <div id="intro-title">Hello World, my name is...</div>
        <!-- intro -->
        <div id="intro-content-box">
          <div id="name-title">Jonthan Starkey</div>
          <div id="job-title">> Full Stack Engineer</div>
          <div id="intro"> My name is Jonathan Starkey and I am a Full Stack Engineer with three years of experience.
              I have created this website as a general showcase of things a company would commonly want in a website dashboard. 
              As a result this website is also a basic full stack application so I hope you will take your time and look around.</div>
        </div>
        <!--TODO: resume button wont glow fix later -->
        <button type="button" class="button1" routerLink="/resume">View My Resume</button> <button type="button" class="button-85" routerLink="/project">View My Project</button>
      </div>
      <div id="tech-used-container">
        <!-- tech used  🔧-->
        <div id ="tools-title">Technologies & Tools Used </div>
        <div class="text-highlight">Frontend:</div>
        <ul>
          <li>Angular</li>
          <li>Hosted on AWS S3 Bucket</li>
          <li>Integrated with CloudFront</li>
        </ul>

        <div class="text-highlight">Backend:</div>
        <ul>
          <li>Golang</li>
          <li>Hosted on AWS EC2</li>
          <li>Integrated with CloudFront</li>
        </ul>
      
        <div class="text-highlight">Database:</div>  
        <ul>
            <li>PostgreSQL</li>
            <li>Hosted on AWS RDS</li>
        </ul>

        <div class="text-highlight">API:</div>
        <ul>
          <li>RESTful Architecture</li>
        </ul>
        <div class="text-highlight">Middleware & Security:</div>
        <ul>
          <li>Gorilla Mux for Routing</li>
          <li>Custom middleware for CORS management</li>
          <li>JWT (JSON Web Token) for authentication and authorization</li>
          <li>HTTPS using AWS route 53 for certification</li>
        </ul>
        <div class="text-highlight">Continuous integration & Development:</div>
        <ul>
            <li>Frontend & Backend CI/CD pipes using AWS CodePipeline, CodeBuild and CodeDeploy</li>
        </ul> 
      </div>
    </div>
  </div>