/* home.component.scss */
$primary-text-color: #ffffff;
$secondary-text-color: #0372FF;
$tertiary-color: #000000;
#background{
  background: transparent linear-gradient(180deg, #000A1D 0%, #000000 100%) 0% 0% no-repeat padding-box;  
  min-height: 100vh;
}
#container {
  margin-top:80px;
  overflow: hidden;
  min-height: 100vh;
 // max-height: 120vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  #intro-container{
    margin-left: 5vh;
    margin-top: 20vh;
    margin-right: var(--home-middle-margin);
    #intro-title{
      color: $primary-text-color; 
      font: normal normal normal var(--home-intro-title-font-size) Source;
      text-align: left;
    }
    #intro-content-box{
      margin-left: 5vh;
      flex-direction: column;
      width: 50vh;
      #name-title{
        padding-top:3vh;
        font: normal normal bold var(--home-name-title-font-size) Source;
        color: $secondary-text-color;
      }
      #job-title{
        color: $primary-text-color; 
        font: normal normal bold var(--home-job-title-font-size) Source ;
      }
      #intro{
        padding-top: 1vh;
        color: $primary-text-color; 
        font: normal normal normal var(--home-intro-content-font-size) Roboto;
        letter-spacing: 1px;
      }
    }
    
  }
  #tech-used-container{
    margin-top: var(--home-top-margin);
   // margin-left: 5vh;
    width: 31vh;
    max-height: calc(100vh - 10vh - 12vh);
    color: $primary-text-color;

  }
  #tools-title{
    font: normal normal bold var(--home-tools-title-font-size) Source;
  }
}
ul{
  list-style-type: none;  
  padding-left: 0;  
    
}
li{
  font: normal normal normal var(--home-tools-li-font-size) Roboto;
}

ul li::before {
    content: ">";          
    margin-right: 10px;     
}


.text-highlight{
  font: normal normal bold var(--home-tools-li-title-font-size) Roboto;
  color: $secondary-text-color;
  margin-top:1vh;
  margin-bottom:1vh;
}
@media(min-width:1024px){
  #container{
    overflow: hidden;
  }
}
@media (max-width: 1023px) { 
  #container {
    flex-direction: column;
    align-items: center;
    //overflow: auto;
    min-height: auto;

    #intro-container, #tech-used-container {
      margin: 0 auto;
      width: 80%;
      
    }
    #intro-container{
      margin-top: 12vh;
      margin-left:10vh;
      //margin-top: 10vh;
      margin-right:5vh;
    }
    #tech-used-container{
      margin-left:15vh;
      margin-top: 8vh;
      min-height:80vh;
    }
    ul{
      margin-left:5vh;
    }
    .text-highlight{
      margin-left:3vh;
    }
  }
}
@media (max-width: 800px) {
  #container {
      flex-direction: column;
      align-items: center;
      min-height: auto;
      padding: 10px;

      #intro-container, #tech-used-container {
          width: 80%; 
          margin: 0 auto; 
          margin-left:1vh;
      }
      #intro-container{
        margin-top:10vh;
      }
      #intro-title, #name-title, #job-title, #intro {
          font-size: smaller; // Adjust font size for smaller screens
      }
      #intro-content-box{
        max-width: 330px;
      }

      .button1, .button-85 {
          padding: 10px 20px; 
          font-size: 1em; 
          margin: 10px 0; 
          padding: .5vh 1vw;
          min-width: 25px;
          max-width: 150px;  
          margin-left: 5vh;
          margin-top: 1vh;
          margin-right:1vh;
      }

      #tech-used-container {
          margin-top: 20px;
      }

      .text-highlight, ul, li {
          font-size: smaller; // Adjust font size for list items
      }
  }
}
// scroll bar 
// ::-webkit-scrollbar {
//   width: 10px;
// }

// ::-webkit-scrollbar-track {
//   background: #4b4857; /* color of the tracking area */
// }

// ::-webkit-scrollbar-thumb {
//   background: #c8c3df; /* color of the scroll thumb */
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: #6f00ff; /* color when hovering over the scroll thumb */
// }


// only buttons past this point
.button1, .button-85 {
    padding: 1vh 2vw;
    min-width: 150px;
    max-width: 300px; 
    font-size: 1.2em; 
}
 

.button1 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-right:5vh;
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  color: $primary-text-color;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
  
  
/* Button by CSS Scan, From: https://getcssscan.com/css-button-examples */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}


.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}