$form-text-title-font: normal normal bold 3vh Roboto;
$form-text-font: normal normal bold 16px/25px Roboto;

.create-account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    
    .create-account-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #5c5858;
      width: 32vh; 
      min-height: 40vh;
      padding: 1vh 2vh;
      border-radius: 10px;
    }
    .form-control{
      width: 25vh;
      height: 3vh;
    }
    #title{
      margin: 1vh 0;
      font: $form-text-title-font
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      font:$form-text-font;
      div {
        min-height: 3vh; 
        width: 25vh;
      }
  
      input {
        padding: 1vh;
        font-size: 1.5vh;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      }
  
      button {
        margin-top: 1vh;
        color: #fff;
        background-color: #4b4b4b;
        border: none;
        width: 25vh;
        border-radius: 4px;
        padding: 1vh 2vh;
        font-size: 2vh;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #a0a1a0;
        }
      }
    }
  }