.create-account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    
    .create-account-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #a57979;
      width: 325px; // Adjust the width as needed
      height: 400px;
      padding: 8px 16px;
      border-radius: 10px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      input {
        padding: 8px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      }
  
      button {
        background-color: #008000;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #006600;
        }
      }
    }
  }