
<div class="login-container">
  <div class="login-box">
    <div id="title">Login</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <div>
        <label class="email" for="email">Username:</label>
        <input type="text" id="email" formControlName="username" class="form-control"  required>
      </div>
      <div>
        <label class="password"  for="password">Password:</label>
        <input type="password" id="password" formControlName="password" class="form-control" required>
          <div id="error-container"><div class="error-pin" *ngIf="getErrorMessage()">{{getErrorMessage()}}</div></div>
      </div>
      <button id="submit" type="submit">Login</button>
    </form>
  </div>
</div>
