<div class="report-card">
    <button (click)="toggleReportCard()" class="btn-secondary">Toggle Report Card</button>
    <div *ngIf="showReportCard" class="report-card">
      <div class="popup">
        <h3>{{studentName}}</h3>
        <div class="row">
          <div class="label">Math:</div>
          <div class="value">{{reportCard.math}}</div>
        </div>
        <div class="row">
          <div class="label">Science:</div>
          <div class="value">{{reportCard.science}}</div>
        </div>
        <div class="row">
          <div class="label">English:</div>
          <div class="value">{{reportCard.english}}</div>
        </div>
        <div class="row">
          <div class="label">Physical Education:</div>
          <div class="value">{{reportCard.physical_ed}}</div>
        </div>
        <div class="row">
          <div class="label">Lunch:</div>
          <div class="value">{{reportCard.lunch}}</div>
        </div>
      </div>
    </div>
  </div>