<app-tabs>
    <app-tab label="Schools">
      <!-- Content for the Schools tab goes here -->
      <app-schools class="app-schools"></app-schools>
    </app-tab>
    <app-tab label="HighScores">
      <!-- Content for the HighScores tab goes here -->
    </app-tab>
  </app-tabs>

<!-- <mat-tab-group>
    <mat-tab class="mat-tab-label" label="Schools">
        <app-schools class="app-schools"></app-schools>
    </mat-tab>
    <mat-tab label ="HighScores">

    </mat-tab>
</mat-tab-group> -->
<!-- <div id="Project_-_High_Scores" class="Project_-_High_Scores_Class">
	<svg class="Project_Window">
		<rect class="Project_Window_Class" rx="0" ry="0" x="0" y="0" width="1920" height="975">
		</rect>
	</svg>
	<div class="SCHOOL_RANKS_Class">
		<span>SCHOOL RANKS</span>
	</div>
	<div class="Projects_Bar_Class">
		<svg class="Project_Bar">
			<rect class="Project_Bar_Class" rx="0" ry="0" x="0" y="0" width="1920" height="85">
			</rect>
		</svg>
		<div class="PUBLIC_SCHOOL_DATABASE_Class">
			<span>PUBLIC SCHOOL DATABASE</span>
		</div>
		<div class="Ranks_Tab Ranks_Tab_Class">
			<svg class="Rectangle_4">
				<rect class="Rectangle_4_Class" rx="10" ry="10" x="0" y="0" width="181" height="60">
				</rect>
			</svg>
			<div class="Ranks_Class">
				<span>Ranks</span>
			</div>
		</div>
		<div class="Schools_Tab Schools_Tab_Class">
			<svg class="Rectangle_4_q">
				<rect class="Rectangle_4_q_Class" rx="10" ry="10" x="0" y="0" width="181" height="59">
				</rect>
			</svg>
			<div class="Schools_Class">
				<span>Schools</span>
                <app-schools>
                    
                </app-schools>
			</div>
            
		</div>
	</div>
</div> -->