$font-title: normal normal normal 25px/30px Roboto;
.app-schools {
 // background-color: #2b2a2a;
  padding: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  margin-top: 6vh;
  margin-left: 34vh;
  border-radius: 0.8vh;
  box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
  width: 76vh; 
  height: 53vh;
  background-color: #ddd;
  
  #info-text {
    font: $font-title;
    margin-bottom:4vh;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px; // space between buttons

    .info-button {
      // Styles for the buttons go here
      padding: 10px;
      font-size: 1em;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #ddd;
      }

      &:active {
        background-color: #aaa;
      }
    }
  }
}
.model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);  // semi-transparent black
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;  // to ensure the modal is on top
}

.model-content {
  width: 60%;
  max-width: 50vh;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;

  h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 20px;
  }

  button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}
@media(max-size:800px){
  
}