<div class="content">
  <app-tabs>
      <app-tab label="HIGHSCORES" (tabClick)="refreshHighScores()">
        <!-- Content for the HighScores tab goes here -->
        <app-schools class="app-schools"></app-schools>
      </app-tab>
      <app-tab label="MY SCHOOLS">
        <!-- Content for the Schools tab goes here -->
        <!-- here I will put an if that route gards the personal page but will give a blank page with a message -->
        <app-personal-page *ngIf="isLoggedIn(); else notLoggedIn"></app-personal-page>
        <ng-template #notLoggedIn>
          <div class="info-container">
            <div id="info-text">You are not logged in! Please log in to view your schools.</div>
            <div class="button-container">
              <button class="info-button" id="login-button" (click)="loginButton()">Login</button>
              <button class="info-button" id="create-account-button"  (click)="createAccountButton()">Create Account</button>
            </div>
          </div>
        </ng-template>
      </app-tab>
    </app-tabs>
    <div class="model" *ngIf="showModal">
      <div class="model-content">
        <h2>Welcome to My Project</h2>
        <p>
          Hello and welcome to my project. This section was written for desktop viewing. 
          This is an example business dashboard that uses a RESTful API to hit my backend hosted on an EC2 server. 
          This is to show basic data generation, compilation and CRUD operations on a ficticous school you can generate if you create an account.
          No need to use real information such as your email as this is just an example. You can delete your data at
          any time on the account page.  
        </p>
        <label>
          <input type="checkbox" [(ngModel)]="doNotShowAgain" /> Do not show this again
        </label>
        <button (click)="closeModal()">Close</button>
      </div>
    </div>
</div>
