@import '~bootstrap/dist/css/bootstrap.css';
@import '@angular/material/theming';

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Source';
  src: url('/assets/fonts/SourceCodePro-VariableFont_wght.ttf');
}

$primary-color: #2e2e2e;
$secondary-color: #050505;
$tertiary-color: #000000;
$accent-color: #6f00ff;


// Import Angular Material pre-built themes
// @import '~@angular/material/theming';

// // Define your custom theme
// $my-app-primary: mat-palette($mat-blue);
// $my-app-accent: mat-palette($mat-pink, A200, A100, A400);
// $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

// // Apply the theme to the Angular Material components
// @include angular-material-theme($my-app-theme);

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: $primary-color;
  color: $tertiary-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body.enable-scroll {
  overflow: auto;
}




.navbar {
  background-color: $primary-color;
  border-bottom: 1px solid $tertiary-color;
}

.nav-link {
  color: $tertiary-color ;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: $accent-color !important;
}

hr {
  border-top: 1px solid $tertiary-color;
}
.custom-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .mat-dialog-container {
    width: 100vw !important;
    height: 100vh !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    padding: 0 !important;
    overflow: hidden;
    
    .dialog-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.8);
      color: white;
    }
  }
}

#favicon{
  width: 32px;
  height:32px;
}
:root {
  // general
  --footer-max-height: 200px;

  // login
  --login-button-bottom-scaling: -6.5vh;

  // home - intro sec
  --home-top-margin: 12vh;
  --home-middle-margin:20vh;
  --home-intro-title-font-size:3vh;
  --home-name-title-font-size:4vh;
  --home-job-title-font-size:3.5vh;
  --home-intro-content-font-size:2vh;
  // home - technologies sec
  --home-tools-title-font-size: 2vh;
  --home-tools-li-font-size:1.5vh;
  --home-tools-li-title-font-size:1.6vh;

  // about
  --info-display-column-height: 675px;
  --info-display-max-height: 640px;
  --info-display-paragraph-length: 800px;
  --scroll-button-offset: 50px;

  // schools at 2560x1440
  --font-size-school-name: 3em;
  --font-size-stats-title: 1em;
  --font-size-stats-value: 3vh;
    //school container
    --school-container-width: 76vh;
    --school-container-height: 53vh;
      // below stats items
      --font-size-ranking-box: 2em;
      --font-size-highscore-title-bar: 1.5em;
      --font-size-highscore-items: 1.5em;
      --font-size-highscore-sub-items: 1em;
      --font-size-highscore-button:1em;
      --ranking-box-width: 3.7vh;
      --ranking-box-height: 3vh;
      --title-bar-height: 4.5vh;
      --professor-item-width: 20vh;
      --button-bar-spacing: 46vh;
    
    //personal schools
    --student-list-max-height: 28vh;
}
// have not used any general tags yet hoping to add a bunch for font etc
@media (max-width: 699px){
  :root {
    // general
      --base-padding: 5px; 
      --base-font-size: 16px;

      // home intro sec
    --home-middle-margin:1vh;
    --home-intro-title-font-size:2vh;
    --home-name-title-font-size:3vh;
    --home-job-title-font-size:2.5vh;
    --home-intro-content-font-size:1vh;

    // about

      --info-display-paragraph-length: 300px;

      //--container-padding-left: 100px;
  }
}
@media (700px <= width <=1023px){
  :root {
    
    // general
      --base-padding: 5px; 
      --base-font-size: 16px;

    // home intro sec
    --home-middle-margin:5vh;
    --home-intro-title-font-size:2.5vh;
    --home-name-title-font-size:3.5vh;
    --home-job-title-font-size:3vh;
    --home-intro-content-font-size:1.5vh;
    // home tools sec
     --home-tools-title-font-size: 1vh;
    // --home-tools-li-font-size:1.2vh;
    // --home-tools-li-title-font-size:1.3vh;
    // about

      --info-display-paragraph-length: 400px;
  }
}
@media (1024px <= width <=1200px) {
  :root {
    // general
      --base-padding: 20px; 
      --base-font-size: 16px;
    // home intro sec
    --home-middle-margin:5vh;
    --home-intro-title-font-size:2.5vh;
    --home-name-title-font-size:3.5vh;
    --home-job-title-font-size:3vh;
    --home-intro-content-font-size:1.5vh;
    // home tools sec
    --home-tools-title-font-size: 1.5vh;
    --home-tools-li-font-size:1.2vh;
    --home-tools-li-title-font-size:1.3vh;
    // about
      --info-display-paragraph-length: 500px;
  }
}
@media (1201px <= width <=1439px) {
  :root {
    // general
      --base-padding: 20px; 
      --base-font-size: 16px;
    // home intro sec
    --home-middle-margin:7vh;
    --home-intro-title-font-size:2.5vh;
    --home-name-title-font-size:3.5vh;
    --home-job-title-font-size:3vh;
    --home-intro-content-font-size:1.5vh;
    // home tools sec
    --home-tools-title-font-size: 2vh;
    --home-tools-li-font-size:1.5vh;
    --home-tools-li-title-font-size:1.6vh;
    // about
      --info-display-paragraph-length: 500px;
  }
}
//Medium Desktops and above
@media (1440px <= width <=1679px) {
  :root {
    // general
      --base-padding: 30px; 
      --base-font-size: 18px;

    //about
      --info-display-paragraph-length: 600px;
  }
}
@media (1680px <= width <=1919px) {
  :root {
    // general
      --base-padding: 30px; 
      --base-font-size: 18px;

    //about
      --info-display-paragraph-length: 700px;    
  }
}
// Large Desktops and above

@media (min-width: 1920px) {
  :root {
      --info-display-paragraph-length: 800px;
  }
}

@media (500px <= height <=599px){
  :root{
    //general
    --footer-max-height: 100px;
    // login
    --login-button-bottom-scaling: -4.5vh;
    //home
    --home-top-margin: 4vh;
     //about
     --info-display-max-height: 350px;
     --info-display-column-height: 400px;
     --scroll-button-offset: 50px;
      //schools
      //--font-size-stats-value: 1.2em;
      --font-size-school-name: 2.1em;
      --font-size-stats-title: 0.7em;
      --font-size-ranking-box: 1.4em;
      --font-size-highscore-title-bar: 1.05em;
      --font-size-highscore-items: 0.8em;
      --font-size-highscore-sub-items: 0.5em;
      --font-size-highscore-button:.8em;
      
    //personal schools
    --button-bar-spacing: 30vh;
    --student-list-max-height: 14vh;
  }
}
@media (600px <= height <=700px){
  :root{
    //general
    --footer-max-height: 100px;
    // login
    --login-button-bottom-scaling: -4.5vh;
    //home
    --home-top-margin: 6vh;
     //about
     --info-display-max-height: 450px;
     --info-display-column-height: 500px;
     --scroll-button-offset: 50px;
      //schools
      //--font-size-stats-value: 1.2em;
      --font-size-school-name: 2.1em;
      --font-size-stats-title: 0.7em;
      --font-size-ranking-box: 1.4em;
      --font-size-highscore-title-bar: 1.05em;
      --font-size-highscore-items: 0.8em;
      --font-size-highscore-sub-items: 0.5em;
      --font-size-highscore-button:.8em;
    //personal schools
    --button-bar-spacing: 30vh;
    --student-list-max-height: 16vh;
  }
}
@media (700px <= height <=799px){
  :root{
    //general
    --footer-max-height: 100px;
    //home
    --home-top-margin: 7vh;
     //about
     --info-display-max-height: 550px;
     --info-display-column-height: 600px;
     --scroll-button-offset: 50px;
      //schools
     // //--font-size-stats-value: 1.2em;
      --font-size-school-name: 1.6em;
      --font-size-stats-title: 0.7em;
      --font-size-ranking-box: 1.3em;
      --font-size-highscore-title-bar: 0.9em;
      --font-size-highscore-items: 0.6em;
      --font-size-highscore-sub-items: 0.5em;
      --font-size-highscore-button:.7em;

    //personal schools
    --button-bar-spacing: 35vh;
    --student-list-max-height: 20vh;
     
  }
}
@media (800px <= height <=899px){
  :root{
    //general
    --footer-max-height: 100px;
    //home
    --home-top-margin: 9vh;
     //about
     --info-display-max-height: 650px;
     --info-display-column-height: 700px;
     --scroll-button-offset: 50px;
     //schools
     --font-size-stats-value: 2.5vh;
     --font-size-school-name: 2.0em;
     --font-size-stats-title: 0.7em;
     --font-size-ranking-box: 1.4em;
     --font-size-highscore-title-bar: 0.95em;
     --font-size-highscore-items: 0.7em;
     --font-size-highscore-sub-items: 0.5em;
     --font-size-highscore-button:.7em;
    
     //personal schools
    --button-bar-spacing: 35vh;
    --student-list-max-height: 20vh;
    
  }
}
@media (900px <= height <=999px){
  :root{
    //general
    --footer-max-height: 125px;
    //home
    --home-top-margin: 10vh;
     //about
     --info-display-max-height: 700px;
     --info-display-column-height: 750px;
     --scroll-button-offset: 75px;

     //schools
     --font-size-stats-value: 2.5vh;
     --font-size-school-name: 2.1em;
     --font-size-stats-title: 0.6em;
     --font-size-ranking-box: 1.2em;
     --font-size-highscore-title-bar: 1.05em;
     --font-size-highscore-items: 1em;
     --font-size-highscore-sub-items: 0.65em;
     --font-size-highscore-button:.8em;
     --button-bar-spacing: 35vh;
      //personal schools
    --student-list-max-height: 22vh;
    
  }
}
@media (1000px <= height <=1099px){
  :root{
    //general
    --footer-max-height: 150px;
    //home
    --home-top-margin: 11vh;
     //about
     --info-display-max-height: 800px;
     --info-display-column-height: 850px;
     --scroll-button-offset: 75px;
     //schools
     --font-size-stats-value: 3vh;
     --font-size-school-name: 2.25em;
     --font-size-stats-title: 0.75em;
     --font-size-ranking-box: 1.5em;
     --font-size-highscore-title-bar: 1.125em;
     --font-size-highscore-items: 1.125em;
     --font-size-highscore-sub-items: 0.75em;
     --button-bar-spacing: 35vh;
    //personal schools
    --student-list-max-height: 24vh;
     
  }
}
@media (1100px <= height <=1199px){
  :root{
    //general
    --footer-max-height: 150px;
     //about
     --info-display-max-height: 900px;
     --info-display-column-height: 950px;
     --scroll-button-offset: 75px;
      //schools
      --font-size-school-name: 2.25em;
      --font-size-stats-title: 0.75em;
      --font-size-ranking-box: 1.5em;
      --font-size-highscore-title-bar: 1.125em;
      --font-size-highscore-items: 1.125em;
      --font-size-highscore-sub-items: 0.75em;
      --button-bar-spacing: 35vh;
    //personal schools
    --student-list-max-height: 26vh;
  }
}
@media (1200px <= height <=1299px){
  :root{
    //general
    --footer-max-height: 150px;
     //about
     --info-display-max-height: 1000px;
     --info-display-column-height: 1050px;
     --scroll-button-offset: 75px;

      //schools
      --font-size-school-name: 3em;
      --font-size-stats-title: 1em;
      --font-size-stats-value: 3vh;
        //school container
          // below stats items
          --font-size-ranking-box: 2em;
          --font-size-highscore-title-bar: 1.5em;
          --font-size-highscore-items: 1.5em;
          --font-size-highscore-sub-items: 1em;
          --ranking-box-width: 3.7vh;
          --ranking-box-height: 3vh;
          --title-bar-height: 4.5vh;
          --professor-item-width: 20vh;
          --button-bar-spacing: 35vh;
      
    //personal schools
    --student-list-max-height: 26vh;
  }
}
@media (1300px <= height <=1399px){
  :root{
    //general
    --footer-max-height: 200px;
     //about
     --info-display-max-height: 1050px;
     --info-display-column-height: 1100px;
     --scroll-button-offset: 75px;
      //schools
      --font-size-school-name: 3em;
      --font-size-stats-title: 1em;
      --font-size-stats-value: 3vh;
        //school container
          // below stats items
          --font-size-ranking-box: 2em;
          --font-size-highscore-title-bar: 1.5em;
          --font-size-highscore-items: 1.5em;
          --font-size-highscore-sub-items: 1em;
          --ranking-box-width: 3.7vh;
          --ranking-box-height: 3vh;
          --title-bar-height: 4.5vh;
          --professor-item-width: 20vh;
          --button-bar-spacing: 38vh;
  }
}
@media (1400px <= height <=1599px){
  :root{
    //general
    --footer-max-height: 150px;
     //about
     --info-display-max-height: 1200px;
     --info-display-column-height: 1250px;
     --scroll-button-offset: 75px;
      //schools
      --font-size-school-name: 3em;
      --font-size-stats-title: 1em;
      --font-size-stats-value: 3vh;
        //school container
          // below stats items
          --font-size-ranking-box: 2em;
          --font-size-highscore-title-bar: 1.5em;
          --font-size-highscore-items: 1.5em;
          --font-size-highscore-sub-items: 1em;
          --ranking-box-width: 3.7vh;
          --ranking-box-height: 3vh;
          --title-bar-height: 4.5vh;
          --professor-item-width: 20vh;
  }
}
@media (min-height: 1600px){
  :root{
    //general
    --footer-max-height: 150px;
     //about
     --info-display-max-height: 1300px;
     --info-display-column-height: 1350px;
     --scroll-button-offset: 75px;
      //schools
      --font-size-school-name: 3em;
      --font-size-stats-title: 1em;
      --font-size-stats-value: 3vh;
        //school container
          // below stats items
          --font-size-ranking-box: 2em;
          --font-size-highscore-title-bar: 1.5em;
          --font-size-highscore-items: 1.5em;
          --font-size-highscore-sub-items: 1em;
          --ranking-box-width: 3.7vh;
          --ranking-box-height: 3vh;
          --title-bar-height: 4.5vh;
          --professor-item-width: 20vh;
  }
}






///////////////theme attempt 
/// Issue was a dependency issue with angular not being v16+ this should be fixed by now 
/// but as everything was localized this is not needed. In a later update I will probably update to house alot of css objects from other pages
/// but as is right now I will leave this here as this is code that should work and will eventually be used. 
// @include mat-core();

// $dark-palette-primary:(
//   50: #fcfcfc,
//   100: #f8f8f8,
//   200: #f3f3f3,
//   300: #eeeeee,
//   400: #cdcdcd,
//   500: #b0b0b0,
//   600: #858585,
//   700: #707070,
//   800: #505050,
//   900: #2e2e2e,
//   contrast: (
//     50: rgba(black, 0.87),
//     100: rgba(black, 0.87),
//     200: rgba(black, 0.87),
//     300: rgba(black, 0.87),
//     400: rgba(black, 0.87),
//     500: rgba(black, 0.87),
//     600: rgba(black, 0.87),
//     700: white,
//     800: white,
//     900: white
//   )
// );
// $dark-palette-secondary:(
//   50: #f5f5f5,
//   100: #e9e9e9,
//   200: #d9d9d9,
//   300: #c4c4c4,
//   400: #9d9d9d,
//   500: #7b7b7b,
//   600: #555555,
//   700: #434343,
//   800: #262626,
//   900: #000000,
//   contrast: (
//     50: rgba(black, 0.87),
//     100: rgba(black, 0.87),
//     200: rgba(black, 0.87),
//     300: rgba(black, 0.87),
//     400: rgba(black, 0.87),
//     500: rgba(black, 0.87),
//     600: rgba(black, 0.87),
//     700: white,
//     800: white,
//     900: white
//   )
// );

// // Dark Mode
// $theme-primary-dark: mat-palette($dark-palette-primary);
// $theme-secondary-dark: mat-palette($dark-palette-secondary, A200, A100, A400);

// $dark-theme: mat-dark-theme($theme-primary-dark,$theme-secondary-dark);

// // Apply the theme to the Angular Material components
// @include angular-material-theme($dark-theme);

