@import '~bootstrap/dist/css/bootstrap.css';
@import '@angular/material/theming';

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}

$primary-color: #2e2e2e;
$secondary-color: #050505;
$tertiary-color: #000000;
$accent-color: #6f00ff;


html,
body {
  height: 100%;
}

body {
  background-color: $primary-color;
  color: $tertiary-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: $primary-color;
  border-bottom: 1px solid $tertiary-color;
}

.nav-link {
  color: $tertiary-color !important;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: $accent-color !important;
}

hr {
  border-top: 1px solid $tertiary-color;
}




///////////////theme attempt Unsure why this didn't work will try again later
/// 
// @include mat-core();

// $dark-palette-primary:(
//   50: #fcfcfc,
//   100: #f8f8f8,
//   200: #f3f3f3,
//   300: #eeeeee,
//   400: #cdcdcd,
//   500: #b0b0b0,
//   600: #858585,
//   700: #707070,
//   800: #505050,
//   900: #2e2e2e,
//   contrast: (
//     50: rgba(black, 0.87),
//     100: rgba(black, 0.87),
//     200: rgba(black, 0.87),
//     300: rgba(black, 0.87),
//     400: rgba(black, 0.87),
//     500: rgba(black, 0.87),
//     600: rgba(black, 0.87),
//     700: white,
//     800: white,
//     900: white
//   )
// );
// $dark-palette-secondary:(
//   50: #f5f5f5,
//   100: #e9e9e9,
//   200: #d9d9d9,
//   300: #c4c4c4,
//   400: #9d9d9d,
//   500: #7b7b7b,
//   600: #555555,
//   700: #434343,
//   800: #262626,
//   900: #000000,
//   contrast: (
//     50: rgba(black, 0.87),
//     100: rgba(black, 0.87),
//     200: rgba(black, 0.87),
//     300: rgba(black, 0.87),
//     400: rgba(black, 0.87),
//     500: rgba(black, 0.87),
//     600: rgba(black, 0.87),
//     700: white,
//     800: white,
//     900: white
//   )
// );

// // Dark Mode
// $theme-primary-dark: mat-palette($dark-palette-primary);
// $theme-secondary-dark: mat-palette($dark-palette-secondary, A200, A100, A400);

// $dark-theme: mat-dark-theme($theme-primary-dark,$theme-secondary-dark);

// // Apply the theme to the Angular Material components
// @include angular-material-theme($dark-theme);

