<!-- home.component.html -->
<div class="container-fluid bg-dark text-white">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>Welcome to my Resume</h1>
        <p> My name is Jonathan R. Starkey and I am a Backend Engineer with almost three years of experience. 
            I have worked with a variety of back-end and front-end technologies and am proficient in Golang, C#, and Java. 
            I am also experienced with database systems like PostgreSQL, in-memory systems like Redis, and cloud platforms like AWS.</p>

        <p> In my previous roles, I have designed and implemented multiple repositories and systems for large-scale web panels as well as refactoring old repositories to be more performant and general bug fixing. 
            I have also worked on large-scale back-end projects, documented security management plans, and used AWS to host cloud applications with CI/CD pipelines.</p>
            
        <p> I am a quick learner and can adapt well to new technologies, which has allowed me to switch stacks as needed. Currently, I am working on this website as a project to showcase my skills, all code of which is available on my Github repository at https://github.com/astroo22/StudentsBackend. </p>
            
        <p> If you want to learn more about my work history and job duties, please check out my resume. I am excited to be sharing my skills and experiences with you and look forward to hearing from you.</p>
        <button type="button" class="btn btn-primary">View My Resume</button> <button type="button" class="btn btn-primary">View My Project</button>
      </div>
    </div>
  </div>